body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 140, 168);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    margin: auto;
    }
    .heading{
        font-size: 2rem;
        color: rgb(230,57,70);
        text-shadow: 1px 2px 3px black;
    }
    .inputSection{
    width: 60%;
    height: auto;
    background-color: rgb(168,218,220);
    border: 1px solid rgb(255, 255, 255);
    }
    .inputSection input{
        height: 100px;
        width: 100%;
        background: none;
        border: none;
        font-size: larger;
    }
    .buttons{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding: 20px;
    }
    .inputBtn{
        background: none;
        border: 1px solid black;
        font-size: 1.1rem;
        padding: 10px;
    }
    .inputBtn:hover{
        background-color: rgb(168,218,220);
        cursor: pointer;
        box-shadow: 0px 1px 3px black;
    }
    .outputSection{
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    @media only screen and (max-width: 450px){
        .heading{
            font-size: 1rem;
        }
        .inputSection{
            width: 90%;
        }
        .buttons{
            width: 90%;
            
        }
        .inputSection input{
            font-size: 0.8rem;
        }
        .inputBtn{
            font-size: 0.6rem;
        }
        .outputSection{
            width: 95%;
        }
        .outputSection h2{
            font-size: 0.8rem;
        }
    }